@font-face {
    font-family: Dosis;
    src:url(../fonts/Dosis/Dosis-Medium.ttf);
}


@font-face {
    font-family: Economica;
    src:url(../fonts/Economica/Economica-Regular.ttf);
}


@font-face {
    font-family: Anteb;
    src:url(../fonts/Anteb/Anteb-Medium.ttf);
}

@font-face {
    font-family: Futura;
    src:url(../fonts/Futura/futura.ttf)
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
