@font-face {
    font-family: Tajawal;
    src:url(../fonts/Tajawal/Tajawal-Regular.ttf);
}
@font-face {
    font-family: Anteb;
    src:url(../fonts/Anteb/Anteb-Medium.ttf);
}
@font-face {
    font-family: futura;
    src:url(../fonts/Futura-LT/FuturaLT-Book.ttf);
}
@font-face {
    font-family: Geo;
    src:url(../fonts/Gill-Sans/GillSansMTPro-Medium.otf);
}
