@font-face {
    font-family: Tajawal;
    src:url(../fonts/Tajawal/Tajawal-Regular.ttf);
}
@font-face {
    font-family: Anteb;
    src:url(../fonts/Anteb/Anteb-Medium.ttf);
}

@font-face {
    font-family: Futura;
    src:url(../fonts/FuturaPT/FuturaPT-Book.otf);
}
@font-face {
    font-family: Gill;
    src:url(../fonts/Gill-Sans/GillSansMTPro-Medium.otf);
}
