@font-face {
    font-family: futura;
    src:url(fonts/futura.ttf);
}
@font-face {
    font-family: Anteb;
    src:url(fonts/Anteb-Medium.ttf);
}


@font-face {
    font-family: Roboto;
    src:url(fonts/Roboto/Roboto-Light.ttf);
    src:url(fonts/Roboto/Roboto-Medium.ttf);
    src:url(fonts/Roboto/Roboto-Regular.ttf);
}


@font-face {
    font-family: Tajawal;
    src:url(fonts/Tajawal/Tajawal-Regular.ttf)
}
