.about
  display: flex
  margin: 0 10% 0 10%
  justify-content: center
  align-items: center
  text-align: justify
  img
    height: 320px
    width: auto
    margin: 0 5% 0 5%
  h1
    font-family: $nex
    font-size: 24px
    color: $yl
  h3
    font-family: $fut
    font-size: 16px
    color: $w1
  h5
    font-family: $rob
    font-size: 14px
    color: $w4
  img
    &.ic
      padding: 0
      margin: -50px 0 0 0
      width: 16px
      height: auto

  i
    +animation(bout 1500ms linear both)
    &:hover
      +animation(bin 1500ms linear both)
    margin: 0 20px 0 0
    &.t
      color: #46a1eb
    &.g
      color: $w1
    &.y
      color: $rd
    

@media all and (max-width: 600px)
  .about
    flex-direction: column
