.cont
  display: flex
  align-content: space-between
  align-items: flex-end
  flex-direction: column
  justify-content: flex-start
  margin: 0 
  padding: 0
  &.square
 
    flex-direction: row
    align-content: center
    align-items: center
    justify-content: center
    a
      width: 20%
      border-radius: 3px 
      height: fit-content
      .elem
        border-bottom-style: none
  a
    display: flex
    align-content: center
    justify-content: center
    width: 100vw
    height: fit-content
    .elem
      width: 50vw
      border-bottom-style: solid
      border-bottom-width: 1px
      border-bottom-color: $b4
      
    transition: background-color .5s ease-out;
    text-decoration: none
    &:hover
      background: $bl8
    h1
      font-family: $fut
      font-weight: 100
      color: $yl
      font-size: 18px
      text-decoration: none
    h4
      font-family: $rob
      font-weight: 200
      font-size: 14px
      color: $w4
    h6
      color: $w2
      font-family: $rob
      font-weight: 200
    &:last-child 
      .elem
        border-bottom-style: none
    
