.footer
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 10px 0 10px
  position: fixed
  top: 95vh
  height: 5vh
  width: 100vw
  .tim
    display: flex
    align-items: center
    flex-direction: row
    p
      padding: 0 10px 0 10px
    img
      width: 16px
  .usr
    
    padding: 0 10px 0 10px
    display: flex
    align-items: center
    justify-content: flex-end
    i
      padding: 0 10px 0 10px
      &.moh
        color: $g1
      &.nas
        color: #333
.countdown
  width: fit-content
  display: flex
  position: fixed
  left: 20%
  margin-top: 8px
  align-items: center
  align-content: center
  h5
    margin: 10px
  ul
    font-size: 10px
    li
      font-size: 10px
.vuejs-countdown
  .digit
    font-size: 10px !important
  li
    &:after
      content: '' !important
  #icons
    i
      &#vjs
        color: $g3
        left: 15%
      &#abs
        color: $rd
        left: 45%
      &#gh
        left: 75%
  p
    font-family: $dos
    font-size: 12px
    margin-top: 25px
    &.mval
      margin-left: 50px
.dark
  p
    color: $w3
  i

    &#gh
      color: $w3
.light
  p
    color: $bl3
  i
    &#gh
      color: $bl1
.date
  
