@import 'mi.sass'
@import 'colors.sass'
@import 'fonts.sass'
@import 'ani.sass'
$winw: 100vw
$winh: 100vh


#app
  font-family: $dos
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  min-width: 100vw
  min-height: 100vh
  margin: 0
  display: flex
  flex-direction: column
  justify-content: center
#nav
  padding: 30px

body
  height: 100%
  margin: 0
  padding: 0
  overflow: scroll
  background: $bl1
.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ 
  opacity: 0;

.tl
  display: flex
  margin: 20%
  color: $w1
  ul
    &.timeline
      font-family: $dos !important
  li
    color: $w1
    &.timeline-item
      border-bottom-style: none

.content
  flex-grow: 2
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  padding-bottom: 10%
  &.post
    padding: 0
