.post
  .text
    h1
      color: $yl
      font-family: $fut
      font-weight: 300
    .arr
      h4
        color: $bl8
        z-index: -2
    h4
      font-family: $nea
      color: $g3
      top: -10%نَ
      span
        color: $yl
    background: $bl8
    border-radius: 10px
    margin: 0 auto
    max-width: 850px
    padding: 30px 40px 40px 40px
    position: relative
    display: block
    h3
      font-family: $fut
      color: $yl
    p
      text-align: justify
      display: block
      margin-block-start: 1.5em
      margin-block-end: 1.5em
      margin-inline-start: 0px
      margin-inline-end: 0px
      line-height: 1.8rem
      word-spacing: 0.09rem
      margin: 1.6em 0
      color: $w4
      font-family: $rob
      font-size: 20px
      &.qu
        border-radius: 3px
        align-content: center
        vertical-align: middle
        align-items: center
        color: $w4
      &.cen
        text-align: center
    ul
      line-height: 1.4em
      text-align: justify
      li
        font-family: Arial
        color: $w4

@media all and (max-width: 600px)
  .post
    h1
      font-size: 22px
    h4
      font-size: 16px
    .text
      padding: 50px
      h3
        font-size: 14px
      p
        font-size: 11px
        margin-block-start: 0.3em
        margin-block-end: 0.3em
        margin-inline-start: 0px
        margin-inline-end: 0px
        line-height: 1rem
        word-spacing: 0.05rem
        margin: 1.2em 0


      ul
        line-height: 1em
        font-size: 11px
        text-align: justify
