.post
  h1
    color: $w1
    font-family: $fut
    font-weight: 300
  h4
    font-family: $nea
    color: $w1
  .text
    margin: 0 auto
    max-width: 800px
    padding: 30px 15px 40px 15px
    position: relative
    display: block
    h3
      font-family: $fut
      color: $w1
    p
      text-align: justify
      display: block
      margin-block-start: 1em
      margin-block-end: 1em
      margin-inline-start: 0px
      margin-inline-end: 0px
      line-height: 1.6rem
      word-spacing: 0.05rem
      margin: 1.2em 0
      color: $w1
      font-family: Arial
      mark
       background: $b3 
      &.cen
        text-align: center
